# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: iOS Run Test

on:
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ "develop" ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3
    - name: Build Xcode
      run: |
        xcodebuild clean test -project Collageuner/Collageuner.xcodeproj \
        -scheme Collageuner
        -destination 'platform=iOS Simulator,name=iPhone 14 Pro,OS=16.0'
